@import "./styles/normalize";
@import "./styles/fonts";
@import "./styles/variables";
@import "./styles/mixins";
@import "./styles/common";

.App {
  position: relative;
  display: grid;
  grid-template-rows: 100px auto 200px;
  min-height: 100vh;
  overflow: hidden;

  @media (max-width: 400px) {
    grid-template-rows: 60px auto 200px;
  }
}

.container {
  position: relative;
  max-width: 1397px;
  margin: 0 auto;

  @media (max-width: 400px) {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}